language: ruby
rvm:
  - 2.6.3

# install will run bundle install by default (make sure Gemfile has dependencies)
#install: gem install bundler && bundle install

#script: bundle exec jekyll build && bundle exec htmlproofer ./_site --check_html --disable-external
#testing to pass timeout for external url check:
script: bundle exec jekyll build && bundle exec htmlproofer ./_site --check_html -typhoeus_config '{ "timeout": 10, "verbose": "true" }'

env:
  global:
  - NOKOGIRI_USE_SYSTEM_LIBRARIES=true # speeds up installation of html-proofer

addons:
  apt:
    packages:
    - libcurl4-openssl-dev # required to avoid SSL errors

sudo: false # route your build to the container-based infrastructure for a faster build

cache:
  bundler: true # caching bundler gem packages will speed up build
  directories:
    - $TRAVIS_BUILD_DIR/tmp/.htmlproofer

# Optional: disable email notifications about the outcome of your builds
notifications:
  email: false
