language: ruby
rvm:
  - 2.6.3

#install: gem install bundler && bundle install

#script: jekyll build && htmlproofer ./_site
#script: bundle exec jekyll build && htmlproofer ./_site
script: bundle exec jekyll build

env:
  global:
  - NOKOGIRI_USE_SYSTEM_LIBRARIES=true # speeds up installation of html-proofer

addons:
  apt:
    packages:
    - libcurl4-openssl-dev

sudo: false # route your build to the container-based infrastructure for a faster build

cache: bundler # caching bundler gem packages will speed up build

# Optional: disable email notifications about the outcome of your builds
notifications:
  email: false
