<p>
<h3>Contact</h3>
Martin Reuter, Ph.D. (Dr.rer.nat.) <br>
Director Medical Image Analysis <br>
DZNE, Bonn, Germany <br>
<br>
Assistant Professor of Radiology <br>
Assistant Professor of Neurology <br>
Harvard Medical School <br>
Martinos Center for Biomedical Imaging <br>
Massachusetts General Hospital <br>
Boston, USA <br>
<br>
email: martin.reuter (#!) dzne.de <br>
email: mreuter (#!) mgh.harvard.edu <br>
email: reuter (#!) mit.edu <br>
</p>

<p>
 <h3>Jobs </h3>
 We don’t generally post for specific positions, <a href="{{ site.url }}/join">so please reach out!</a> <br>
</p>

<h3> Recent Posts </h3>
<ul>
  {% for post in site.posts limit: 5 %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>
