<p>
<h3>Contact</h3>
Dajiang Zhu, Ph.D.<br>
<br>
Associate Professor <br>
Computer Science and Engineering <br>
The University of Texas at Arlington <br>
Texas, USA <br>
<br>
email: dajiang.zhu@uta.edu <br>
</p>

<!-- 
<p>
 <h3>Jobs </h3>
 We don’t generally post for specific positions, <a href="{{ site.url }}/join">so please reach out!</a> <br>
</p>  -->

<!-- 
<h3> Recent Posts </h3>
<ul>
  {% for post in site.posts limit: 5 %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>  -->
